{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%block pagetitle %}{{ page_title }}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static "geo_tweets/css/base.css" %}">
    {%block page_css %}{% endblock %}
</head>

<body>
    <img src="{% static "geo_tweets/images/twitter_logo.png" %}" alt="GeoTweets" class="logo-image" />

    {% block content %}{% endblock %}

    {% block page_js %}{% endblock %}

</body>
</html>
