{% extends 'base.html' %}
{% load static %}


{%block page_css %}
<link rel="stylesheet" type="text/css" href="{% static "geo_tweets/css/form.css" %}">
{% endblock %}

{% block content %}
<h1></h1>






<div class="form-style-blue">
<form id="mapForm" method="post" action="{% url 'home' %}" accept-charset="UTF-8">
    {% csrf_token %}
    <fieldset>
        <legend><span class="number"></span>{{ page_title }}</legend>
        <input type="text" name="lat" id="lat" placeholder="Latitude *" value="{{ lat }}">
        <input type="text" name="lon" id="lon" placeholder="Longitude *" value="{{ lon }}">
        <input type="button" onclick="getLocation()" value="Get current location" class="small-button"/>
        <label for="radius">Radius:</label>
        <select id="radius" name="radius">
          <option value="1" {% if radius == 1 %} selected="selected"{% endif %}>1km</option>
          <option value="2" {% if radius == 2 %} selected="selected"{% endif %}>2km</option>
          <option value="3" {% if radius == 3 %} selected="selected"{% endif %}>3km</option>
          <option value="4" {% if radius == 4 %} selected="selected"{% endif %}>4km</option>
          <option value="5" {% if radius == 5 %} selected="selected"{% endif %}>5km</option>
        </select>
    </fieldset>

    <label for="status">Status:</label>
    <p id="status" class="status-box">{{ form_status }}</p>

    <input type="submit" value="Map Tweets" />

</form>
</div>


<div id="map">Map</div>
{% endblock %}


{% block page_js %}

    <script src="https://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.4.9/gmaps.min.js"></script>

    <script src="{% static "geo_tweets/js/get_geo.js" %}"></script>

    <script>{{ map_js|safe }}</script>

{% endblock %}
